@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Pacifico&display=swap');
*{
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;  
}
html {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(-45deg, #633158, #ae75a0, #d9acc9);
    background-size: 400%, 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
.titulo{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1rem;
    text-shadow: 1px 1px #1a040e;
    box-shadow: 1px 1px #1a040e;
    }
}
body{
    color: white;
    background: #633158;
}

.cuerpo{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    vertical-align: middle;
}
.date{
    position: relative;
    margin: 40px 0;
}
label{
    position: absolute;
    top: 0;
    margin: 10px;
    padding: 0 10px;
    background-color:#633158;
    transition: top .2s ease-in-out, font-size .2s ease-in-out;
}
.active{
    top: -25px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 6px;
    text-transform: uppercase;
}
input[type=text]{
    width: 100%;
    padding: 20px;
    border: 2px solid white;
    font-size: 20px; 
    font-weight: 800;
    background-color:#633158;
    color: white;
}
input [type=text]:focus{
    outline: none;
}
fecha { //sin uso
    width: 100%;
    padding: 10px 5px 10px;
    margin: 8px 0px;
    color: #f3e1ef;
    outline: none;
    border-radius: 15px;
    border-width: 0px;
}
boton { //sin uso
    background-color: #633158;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 15px;
    width: 50%;
    border-radius: 15px;
}
.boton:hover{
    background-color:#f3e1ef;
    color:#1a040e;
}

@keyframes change {
    0% {
     background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}